{% extends 'base.html' %}
{% load static %}
{% block content %}
	
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Product Categories</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!--- gourmet -->
	<div class="products">
		<div class="container">
			<div class="col-md-4 products-left">
				<div class="categories">
					<h2>Categories</h2>
					<ul class="cate">
						{% for i in categories %}
						<li><a href="/products"><i class="fa fa-arrow-right" aria-hidden="true"></i>{{ i.category_name }}</a></li>
						{% endfor %}
						
					</ul>
				</div>																																												
			</div>
			<div class="col-md-8 products-right">

				<div class="agile_top_brands_grids">
					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid_pos">
									<img src="{% static 'images/offer.png' %}" alt=" " class="img-responsive">
								</div>
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="/single"><img title=" " alt=" " src="{% static 'images/pepper.png' %}" class="royal-image"></a>		
												<p>Pepper Powder</p>
												<h4>₹35.99 <span>₹55.00</span></h4>
											</div>
											
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
					
						<div class="clearfix"> </div>
				</div>
				<nav class="numbering">
					<ul class="pagination paging">
						<li>
							<a href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li>
							<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	{% endblock %}
