
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Product</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
	<div class="products">
		<div class="container">
			<div class="agileinfo_single">
				
				<div class="col-md-4 agileinfo_single_left">
					<img id="example" src="{{ product.image.url }}" alt=" " class="img-responsive">
				</div>
				<div class="col-md-8 agileinfo_single_right">
				<h2>{{ product.product_name }}</h2>
					<br>
					<br>

					<div class="w3agile_description">
						<h4>Description :</h4>
						<p>{{ product.description }}</p>
					</div>
					<div class="snipcart-item block">
						<div class="snipcart-thumb agileinfo_single_right_snipcart">
							<h4 class="m-sing">₹{{ product.offer_price }} <span>₹{{ product.mrp }}</span></h4>
						</div>
						
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
{% endblock %}	
